.title {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%);
}
.list{
  display: flex;
  flex-direction: column;
}
.margin{
  margin: 15px;
}

.start_btn {
  position: absolute;
  margin: 0 25px;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
}


.rules {
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    
    width: 410px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}